ion-content {
	--background: url("/assets/bgtop.jpg") top / 100% no-repeat #efefef !important;
}
.button {
	margin-left: 2px;
	margin-right: 2px;
	height: 50px;
	color: #fff !important;
	width: 92%;
	margin-top: 15px;
}
ion-card {
	position: fixed;
	width: 95%;
	bottom: 20px;
	box-shadow: none !important;
	border-radius: 50px 50px 0 0;
}
.brand-login {
	text-align: center;
	background: white;
	margin: auto;
	max-width: 95%;
}
