<ion-content [fullscreen]="true">
	<ion-card>
		<ion-row>
			<ion-col class="brand-login">
				<img height="80" src="/assets/logo.png" alt="" />
			</ion-col>
		</ion-row>
		<ion-card-header>
			<ion-card-title>Sign In</ion-card-title>
			<ion-card-subtitle>Welcome!</ion-card-subtitle>
		</ion-card-header>

		<ion-card-content>
			<ion-item>
				<ion-label position="floating">Username</ion-label>
				<ion-input [(ngModel)]="postData.email"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Password</ion-label>
				<ion-input type="password" [(ngModel)]="postData.password"></ion-input>
			</ion-item>

			<ion-button
				type="submit"
				color="dark"
				expand="block"
				(click)="presentLoading()"
			>
				Go to Magic
			</ion-button>
		</ion-card-content>
	</ion-card>
</ion-content>
