<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="secondary">
			<ion-button>
				<ion-icon slot="icon-only" name="search"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title class="ion-no-padding">
			<ion-chip>
				<ion-avatar>
					<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
				</ion-avatar>
				<ion-label>{{ username }}</ion-label>
			</ion-chip>
			</ion-title>
		<ion-buttons slot="primary">
			<ion-button [routerLink]="['/create']" color="dark">
				<ion-icon name="add-circle-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card-content >
		<ion-list lines="full" class="ion-no-margin ion-no-padding">
      <img class="img-item" [src]="imageurl" />
      <ion-item>
        <ion-label position="stacked">ImageUrl</ion-label>
        <ion-input [(ngModel)]="postData.imageurl" [value]="imageurl"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Title of your gifty card</ion-label>
        <ion-input [(ngModel)]="postData.title" [value]="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-input [(ngModel)]="postData.description" [value]="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Price USD</ion-label>
        <ion-input [(ngModel)]="postData.prize_usd" [value]="prize_usd"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Price BTC</ion-label>
        <ion-input [(ngModel)]="postData.prize_btc" [value]="prize_btc"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>USD</ion-label>
        <ion-checkbox [(ngModel)]="postData.currency_usd" *ngIf="currency_usd == 1" [value]="currency_usd" color="dark" checked slot="start"></ion-checkbox>
        <ion-checkbox [(ngModel)]="postData.currency_btc" *ngIf="currency_usd == 2" [value]="currency_btc" color="dark" slot="end"></ion-checkbox
        ><ion-label slot="end">BITCOIN</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Category</ion-label>
        <ion-input [(ngModel)]="postData.category" [value]="category"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Start date</ion-label>
        <ion-datetime
          [(ngModel)]="postData.start_date"
          [value]="start_date"
          display-timezone="utc"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">End Date</ion-label>
        <ion-datetime
          [(ngModel)]="postData.end_date"
          [value]="end_date"
          display-timezone="utc"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Quality</ion-label>
        <ion-input type="number" [(ngModel)]="postData.quality" [value]="quality"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Type</ion-label>
        <ion-select [(ngModel)]="postData.type" [value]="type">
          <ion-select-option [value]="type"></ion-select-option>
          <ion-select-option value="1">Private</ion-select-option>
          <ion-select-option value="2">Public</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button
        type="submit"
        color="dark"
        expand="block"
        (click)="update()"
      >
        Save Changes
      </ion-button>
      
    </ion-list>

		<ion-item-divider>
			<ion-label>
				Términos & Condiciones
			</ion-label>
		</ion-item-divider>

		<ion-grid>
			<ion-row>
				<ion-col size="12" style="text-align: justify;">
					<div>
						The merchants represented are not sponsors of GiftyCardMagics nor are they affiliated with GiftyCardMagics. The logos and other attached identification marks are trademarks and are the property of each represented company and / or its subsidiaries. Visit each company's website for additional terms and conditions.
					
				
						<ion-button
						*ngIf="currency_usd == 1"
						slot="end"
						expand="full"
						fill="outline"
						color="dark"
					>
						 Check Terms & Conditions
					</ion-button>
				</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card-content>
</ion-content>
