<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="secondary">
			<ion-button>
				<ion-icon slot="icon-only" name="search"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title class="ion-no-padding">Creating GiftyCard</ion-title>
		<ion-buttons slot="primary">
			<ion-button [routerLink]="['/create']" color="dark">
				<ion-icon name="add-circle-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

	<ion-card>
	
		<ion-row>
			<ion-col class="img-create">
				<img height="80" src="/assets/logo.png" alt="" />
			</ion-col>
		</ion-row>
		
		<ion-card-content>
		
				<ion-list lines="full" class="ion-no-margin ion-no-padding">
					
				<ion-item>
					<ion-label position="floating">ImageUrl</ion-label>
					<ion-input [(ngModel)]="postData.imageurl"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Title of your gifty card</ion-label>
					<ion-input [(ngModel)]="postData.title"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Description</ion-label>
					<ion-input [(ngModel)]="postData.description"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Price USD</ion-label>
					<ion-input [(ngModel)]="postData.prize_usd"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Price BTC</ion-label>
					<ion-input [(ngModel)]="postData.prize_btc"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label>USD</ion-label>
					<ion-checkbox [(ngModel)]="postData.currency_usd" color="dark" checked slot="start"></ion-checkbox>
					<ion-checkbox [(ngModel)]="postData.currency_btc" color="dark" slot="end"></ion-checkbox
					><ion-label slot="end">BITCOIN</ion-label>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Company</ion-label>
					<ion-input [(ngModel)]="postData.company"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Category</ion-label>
					<ion-select [(ngModel)]="postData.category" value="Featured GiftCards">
						<ion-select-option value="Featured GiftCards">Featured GiftCards</ion-select-option>
						<ion-select-option value="Babies & Children">Babies & Children</ion-select-option>
						<ion-select-option value="Department Stores">Department Stores</ion-select-option>
						<ion-select-option value="Entertainment, Electronics & Gaming">Entertainment, Electronics & Gaming</ion-select-option>
						<ion-select-option value="Fashion Accesories">Fashion Accesories</ion-select-option>
						<ion-select-option value="Graduation">Graduation</ion-select-option>
						<ion-select-option value="Health & Beauty">Health & Beauty</ion-select-option>
						<ion-select-option value="Home Goods">Home Goods</ion-select-option>
						<ion-select-option value="Men´s Apparel">Men´s Apparel</ion-select-option>
						<ion-select-option value="New">New</ion-select-option>
						<ion-select-option value="Restaurants & Beverages">Restaurants & Beverages</ion-select-option>
						<ion-select-option value="Sports & Outdoors">Sports & Outdoors</ion-select-option>
						<ion-select-option value="Travel">Travel</ion-select-option>
						<ion-select-option value="Women´s Apparel">Women´s Apparel</ion-select-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Start date</ion-label>
					<ion-datetime
						[(ngModel)]="postData.start_date"
						display-timezone="utc"
					></ion-datetime>
				</ion-item>
				<ion-item>
					<ion-label position="floating">End Date</ion-label>
					<ion-datetime
						[(ngModel)]="postData.end_date"
						display-timezone="utc"
					></ion-datetime>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Quality</ion-label>
					<ion-input type="number" [(ngModel)]="postData.quality" value="1"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Type</ion-label>
					<ion-select [(ngModel)]="postData.type" value="1">
						<ion-select-option value="1">Private</ion-select-option>
						<ion-select-option value="2">Public</ion-select-option>
					</ion-select>
				</ion-item>
				<ion-button
					type="submit"
					color="dark"
					expand="block"
					(click)="upload()"
				>
					Create GiftyCard
				</ion-button>
				
			</ion-list>
	
		</ion-card-content>

	</ion-card>

</ion-content>
