<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="secondary">
			<ion-button>
				<ion-icon slot="icon-only" name="search"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title class="ion-no-padding">
			<ion-chip>
				<ion-avatar>
					<img *ngIf="avatar" [src]="avatar">
				</ion-avatar>
				<ion-label>{{username}}</ion-label>
			</ion-chip>
			</ion-title>
		<ion-buttons slot="primary">
			<ion-button [routerLink]="['/create']" color="dark">
				<ion-icon name="add-circle-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card-content >
		<img class="img-item" [src]="imageurl" />

		<ion-card-title class="first-title">{{ title }}</ion-card-title>

		<ion-grid>
			<ion-row>
				<ion-col size="6">
					<div>PRICE</div>
				</ion-col>
				<ion-col size="4">
					<div>{{ prize_usd }}</div>
				</ion-col>
				<ion-col size="2">
					<div>{{ currency_usd ? "USD" : "USD"}}</div>
				</ion-col>
				<ion-col size="12">
					<div>{{ description }}</div>
				</ion-col>
				<ion-col size="4">
					<div>{{ end_date }}</div>
				</ion-col>
				<ion-col size="4">
					<div>{{ company }}</div>
				</ion-col>
				<ion-col size="4">
					<div>{{ category }}</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-button
			slot="end"
			*ngIf="currency_btc == 2"
			expand="full"
			(click)="presentAlertMultipleButtons(item.client_name)"
			color="medium"
		>
			<ion-icon name="logo-bitcoin"></ion-icon> Pay with Bitcoin
		</ion-button>

		<ion-button
			*ngIf="currency_usd == 1"
			slot="end"
			expand="full"
			(click)="getPaypal()"
			color="dark"
		>
			<ion-icon name="logo-usd"></ion-icon> Pay with Paypal
		</ion-button>

		<ion-item-divider>
			<ion-label>
				Términos & Condiciones
			</ion-label>
		</ion-item-divider>

		<ion-grid>
			<ion-row>
				<ion-col size="12" style="text-align: justify;">
					<div>
						The merchants represented are not sponsors of GiftyCardMagics nor are they affiliated with GiftyCardMagics. The logos and other attached identification marks are trademarks and are the property of each represented company and / or its subsidiaries. Visit each company's website for additional terms and conditions.
					
				
						<ion-button
						slot="end"
						expand="full"
						fill="outline"
						(click)="getPaypal()"
						color="dark"
					>
						 Check Terms & Conditions
					</ion-button>
				</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card-content>
</ion-content>
