ion-card {
	width: 95% !important;
	border-radius: 19px;
	// box-shadow: none !important;
}
.img-item {
	border-radius: 11px;
	box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.4);
	margin: auto;
	width: 95%;
	text-align: center;
	height: 93%;
	margin: auto;
}
.img-item-list {
	max-width: 120px;
	border-radius: 11px;
	margin: 5px 0 5px 4px;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
}
.label-item {
	font-size: 14px;
	white-space: normal;
	padding-left: 5px;
}
.label-item span {
	font-size: 12px;
	color: #333;
}
.first-title {
	position: absolute;
	z-index: 500;
	top: 195px;
	color: white;
	left: 33px;
	background: rgba(76, 76, 76, 0.7);
	padding: 0 5px 0 5px;
	border-radius: 3px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 310px;
}
swiper-slide-shadow-left {
	background-image: none !important;
}
item-native {
	/*--background: url("/assets/img/bghome.png") top / 100% no-repeat #efefef;*/
	--background: #7044ff !important;
	--padding-left: 0 !important;
}
.slides-list .swiper-slide {
	width: 185px !important;
}
// .slides-list .swiper-wrapper {
// 	transform: translate3d(-500px, 0px, 0px);
// }
.swiper-slideshow {
	width: 185px !important;
}