<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="secondary">
			<ion-button>
				<ion-icon slot="icon-only" name="search"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title class="ion-no-padding">
			<ion-chip>
				<ion-avatar>
					<img *ngIf="avatar" [src]="avatar">
				</ion-avatar>
				<ion-label>{{ username }}</ion-label>
			</ion-chip>
		</ion-title>
		<ion-buttons slot="primary">
			<ion-button [routerLink]="['/create']" color="dark">
				<ion-icon name="add-circle-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<!-- <ion-searchbar></ion-searchbar> *ngIf="i < 5"-->
	<ion-item-divider>
		<ion-label>
			My GiftyCards
		</ion-label>
	</ion-item-divider>

	<ion-slides [options]="slideItems">
		<ion-slide *ngFor="let item of giftcards; let i=index;">
			<div class="slide">
				<ion-col size="12" *ngIf="i < 10" >

					<img class="img-item" [src]="item.imageurl" />
					<ion-label class="label-item">
						<strong>{{item.title}}</strong><br />
						<span>{{item.end_date}}</span>
					</ion-label>
					<ion-button
						[routerLink]="['/detail/', i]"
						color="dark"
						fill="outline"
						size="small"
						>
						<ion-icon name="eye-outline"></ion-icon>
					</ion-button>
					<ion-button
						[routerLink]="['/editcard/', i]"
						color="dark"
						fill="outline"
						size="small"
						>
						<ion-icon name="create-outline"></ion-icon>
					</ion-button>
					<ion-button
						(click)="delete(item.id)"
						color="dark"
						fill="outline"
						size="small"
						>
						<ion-icon name="close-outline"></ion-icon>
					</ion-button>
				</ion-col>
			</div>
		</ion-slide>
	</ion-slides>
	<ion-item-divider>
		<ion-label>
			My GiftyCards Suspended
		</ion-label>
	</ion-item-divider>

	<ion-slides [options]="slideItems">
		<ion-slide *ngFor="let item of suspendeds; let i=index;">
			<div class="slide">
				<ion-col size="12" *ngIf="i < 10" >

					<img class="img-item" [src]="item.imageurl" />
					<ion-label class="label-item">
						<strong>{{item.title}}</strong><br />
						<span>{{item.end_date}}</span>
					</ion-label>
					<ion-button
						[routerLink]="['/detail/', i]"
						color="dark"
						fill="outline"
						size="small"
						>
						Active Again
					</ion-button>
				</ion-col>
			</div>
		</ion-slide>
	</ion-slides>

	<ion-item-divider>
		<ion-label>
			My GiftyCards Redeemed
		</ion-label>
	</ion-item-divider>

	<ion-slides [options]="slideItems">
		<ion-slide *ngFor="let item of redeemeds; let i=index;">
			<div class="slide">
				<ion-col size="12" *ngIf="i < 10" >

					<img class="img-item" [src]="item.imageurl" />
					<ion-label class="label-item">
						<strong>{{item.title}}</strong><br />
						<span>{{item.end_date}}</span>
					</ion-label>
					<ion-button
						[routerLink]="['/detail/', i]"
						color="dark"
						fill="outline"
						size="small"
						>
						Active Again
					</ion-button>
				</ion-col>
			</div>
		</ion-slide>
	</ion-slides>

</ion-content>
