.img-create {
	background: #efefef;
	border-radius: 10px;
	max-width: 300px;
	margin: auto;
	height: 193px;
	text-align: center;
	padding-top: 58px;
	border: 1px dashed #ccc;
}

.redeem {
  text-align: center;
}
ion-card {
	width: 95% !important;
	border-radius: 19px;
	// box-shadow: none !important;
}
.img-item {
	border-radius: 11px;
	box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.4);
	margin: auto;
	width: 95%;
	text-align: center;
	height: 93%;
	margin: auto;
}
