<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="secondary">
			<ion-button>
				<ion-icon slot="icon-only" name="search"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title class="ion-no-padding">
			<ion-chip>
				<ion-avatar>
					<img *ngIf="avatar" [src]="avatar">
				</ion-avatar>
				<ion-label>{{ username }}</ion-label>
			</ion-chip>
			</ion-title>
		<ion-buttons slot="primary">
			<ion-button [routerLink]="['/create']" color="dark">
				<ion-icon name="add-circle-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

	<ion-card>
		<h4 *ngIf="status == 1" class="redeem">Redeem gift card or code</h4>
		<h4 *ngIf="status == 2" class="redeem">Suspended gift card</h4>
		<h4 *ngIf="status == 3" class="redeem">Redeemed gift card</h4>
		<ion-col class="redeem" size="12" *ngIf="status == 3">
			<div>{{ end_date }}</div>
		</ion-col>
		<ion-row *ngIf="!status">
			<ion-col class="img-create">
				<ion-item>
					<ion-label position="stacked">Enter Code</ion-label>
					<ion-input [(ngModel)]="postData.giftcode" placeholder="Ej:ABC500145"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
    

		<ion-card-content>
				<ion-list lines="full" class="ion-no-margin ion-no-padding">

          <img class="img-item" *ngIf="imageurl" [src]="imageurl" />

          <ion-card-title class="first-title">{{ title }}</ion-card-title>
      
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <div *ngIf="!prize_usd || prize_btc">
                  Here you will load the card details to consult
                </div>
              </ion-col>
              <ion-col size="12">
                <div>{{ giftcode }}</div>
              </ion-col>
              <ion-col size="6">
                <div *ngIf="prize_usd || prize_btc">PRICE</div>
              </ion-col>
              <ion-col size="4">
                <div>{{ prize_usd }}</div>
              </ion-col>
              <ion-col size="2">
                <div *ngIf="currency_usd || currency_btc">{{ currency_usd ? "USD" : "USD"}}</div>
              </ion-col>
              <ion-col size="12">
                <div>{{ description }}</div>
              </ion-col>
              <ion-col size="4">
                <div>{{ end_date }}</div>
              </ion-col>
              <ion-col size="4">
                <div>{{ company }}</div>
              </ion-col>
              <ion-col size="4">
                <div>{{ category }}</div>
							</ion-col>
							<ion-col size="12" *ngIf="status === 1">
                <div>
									<ion-list lines="full" class="ion-no-margin ion-no-padding">
										<ion-item>
											<ion-label position="floating">Today is</ion-label>
											<ion-datetime
												[(ngModel)]="postData.end_date"
												display-timezone="utc"
											></ion-datetime>
										</ion-item>
										<ion-item>
											<ion-label position="floating">Change Status</ion-label>
											<ion-select [(ngModel)]="postData.status" value="1">
												<ion-select-option value="3">Redeemed</ion-select-option>
											</ion-select>
										</ion-item>
										
									</ion-list>
								</div>
							</ion-col>
							
            </ion-row>
          </ion-grid>
          <ion-button
          *ngIf="status === 1"
					type="submit"
					color="dark"
					expand="block"
					(click)="processRedeem()"
				>
				Process Card
        </ion-button>
        
        <ion-button
        *ngIf="!prize_usd || prize_btc"
					type="submit"
					color="dark"
					expand="block"
					(click)="getRedeem()"
				>
				Redeem GiftCard
				</ion-button>
				
				</ion-list>
	
		</ion-card-content>

	</ion-card>

</ion-content>
