<ion-header [translucent]="true">
	<ion-toolbar style="--background: #df0209 !important;color: #fff;">
		<ion-buttons slot="secondary">
			<ion-button>
				<ion-icon slot="icon-only" name="search"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title class="ion-no-padding">
			<ion-chip>
				<ion-avatar>
					<img *ngIf="avatar" [src]="avatar">
				</ion-avatar>
				<ion-label color="light">{{ username }}</ion-label>
			</ion-chip>
		</ion-title>
		<ion-buttons slot="primary">
			<ion-button [routerLink]="['/create']" color="light">
				<ion-icon name="add-circle-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<ion-slides [options]="slideOptions">
		<ion-slide *ngFor="let item of giftcards; let i=index;" >
			<div class="slidehome">
				<ion-col size="12" style="display: flex;">
					<ion-card-title class="first-title">{{item.title}}</ion-card-title>

					<img [routerLink]="['/detail/', i]" class="img-item" [src]="item.imageurl" />
				</ion-col>
			</div>
		</ion-slide>
	</ion-slides>
	<!-- <ion-searchbar></ion-searchbar> *ngIf="i < 5"-->
	<ion-card-content >
		<ion-slides [options]="slidebtns">
			<ion-slide *ngFor="let item of giftcards; let i=index;">
				<div class="slide swiper-slideshow-btns">
					<ion-col size="12" *ngIf="i < 10" >
					
							<ion-icon name="alert-circle-outline"></ion-icon>
				
					</ion-col>
				</div>
			</ion-slide>
		</ion-slides>
	</ion-card-content>
	<ion-item-divider>
		<ion-label>
			Top 10 BestSellers
		</ion-label>
	</ion-item-divider>
	<ion-slides [options]="slideOpts">
		<ion-slide *ngFor="let item of giftcards; let i=index;">
			<div class="slide swiper-slideshow">
				<ion-col size="12" *ngIf="i < 10" >

					<img class="img-item" [src]="item.imageurl" />
					<ion-label class="label-item">
						<strong>{{item.title}}</strong><br />
						<span>{{item.end_date}} </span>
					</ion-label>
					<ion-button
						[routerLink]="['/detail/', i]"
						color="dark"
						fill="outline"
						size="small"
						>
						Buy
					</ion-button>
				</ion-col>
			</div>
		</ion-slide>

	</ion-slides>

	<ion-item-divider>
		<ion-label>
			Entertaiment
		</ion-label>
	</ion-item-divider>

	<ion-slides [options]="slideItems">
		<ion-slide *ngFor="let item of giftcards; let i=index;">
			<div class="slide">
				<ion-col size="12" *ngIf="i < 10" >

					<img class="img-item" [src]="item.imageurl" />
					<ion-label class="label-item">
						<strong>{{item.title}}</strong><br />
						<span>{{item.end_date}}</span>
					</ion-label>
					<ion-button
						[routerLink]="['/detail/', i]"
						color="dark"
						fill="outline"
						size="small"
						>
						Buy
					</ion-button>
				</ion-col>
			</div>
		</ion-slide>

	</ion-slides>

	<ion-item-divider>
		<ion-label>
			GamesSports
		</ion-label>
	</ion-item-divider>

	<ion-slides class="slides-list" *ngFor="let item of giftcards; let i=index;">
		<ion-slide>
			<div class="slide swiper-slideshow">
				<ion-col size="12" *ngIf="i < 1" >

					<img class="img-item" [src]="item.imageurl" />
					<ion-label class="label-item">
						<strong>{{item.title}}</strong><br />
						<span>{{item.end_date}}</span>
					</ion-label>
					<ion-button
						[routerLink]="['/detail/', i]"
						color="dark"
						fill="outline"
						size="small"
						>
						Buy
					</ion-button>
				</ion-col>
			</div>
		</ion-slide>

		<ion-slide>
			<div class="slide swiper-slideshow">
				<ion-col size="12" *ngIf="i < 1">
					<img class="img-item" [src]="item.imageurl" />
					<ion-label class="label-item">
						<strong>{{item.title}}</strong><br />
						<span>{{item.end_date}}</span>
					</ion-label>
					<ion-button
						[routerLink]="['/detail/', i]"
						color="dark"
						fill="outline"
						size="small"
						>
						Buy
					</ion-button>
				</ion-col>
			</div>
		</ion-slide>

		<ion-slide>
			<div class="slide swiper-slideshow">
				<ion-col size="12" *ngIf="i < 1">
					<img class="img-item" [src]="item.imageurl" />
					<ion-label class="label-item">
						<strong>{{item.title}}</strong><br />
						<span>{{item.end_date}}</span>
					</ion-label>
					<ion-button
						[routerLink]="['/detail/', i]"
						color="dark"
						fill="outline"
						size="small"
						>
						Buy
					</ion-button>
				</ion-col>
			</div>
		</ion-slide>

		<ion-slide>
			<div class="slide swiper-slideshow">
				<ion-col size="12" *ngIf="i < 1" >
					<img class="img-item" [src]="item.imageurl" />
					<ion-label class="label-item">
						<strong>{{item.title}}</strong><br />
						<span>{{item.end_date}}</span>
					</ion-label>
					<ion-button
						[routerLink]="['/detail/', i]"
						color="dark"
						fill="outline"
						size="small"
						>
						Buy
					</ion-button>
				</ion-col>
			</div>
		</ion-slide>
	</ion-slides>

</ion-content>
