<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="secondary">
			<ion-button>
				<ion-icon slot="icon-only" name="search"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title class="ion-no-padding">
			<ion-chip>
				<ion-avatar>
					<img *ngIf="avatar" [src]="avatar">
				</ion-avatar>
				<ion-label>{{ username }}</ion-label>
			</ion-chip>
			</ion-title>
		<ion-buttons slot="primary">
			<ion-button [routerLink]="['/create']" color="dark">
				<ion-icon name="add-circle-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

	<ion-card>
	
		<ion-row>
			<ion-col class="img-create">
				<img height="80" [src]="avatar" alt="" />
			</ion-col>
		</ion-row>
		
		<ion-card-content>
		
				<ion-list lines="full" class="ion-no-margin ion-no-padding">
					
				<ion-item>
					<ion-label position="stacked">Avatar</ion-label>
					<ion-input placeholder="Enter a URL image" [value]="avatar"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="stacked">Username</ion-label>
					<ion-input disabled [value]="username"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="stacked">Name</ion-label>
					<ion-input [value]="name"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="stacked">Email</ion-label>
					<ion-input disabled [value]="email"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="stacked">Bitcoin Wallet</ion-label>
					<ion-input placeholder="Enter your cryptowallet" [value]="bitcoin_wallet"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="stacked">Paypal Account</ion-label>
					<ion-input placeholder="Enter your email account" [value]="paypal_email"></ion-input>
				</ion-item>
				<ion-button
					type="submit"
					color="dark"
					expand="block"
					(click)="upload()"
				>
					Guardar
				</ion-button>
				
				</ion-list>
	
		</ion-card-content>

	</ion-card>

</ion-content>
